@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    background-image: url("images/bgroun6.jpeg");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 65%;
    height: 400px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #997b7b66;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.logo ul li {
    display: inline-block;
    list-style: none;
    transition: transform 0.3s ease-in-out;
}
.logo ul li a {
    text-decoration: none;
    color: #18578d;
    padding: 6px;
    font-weight: bold;
}
.logo ul li:hover {
    transform: scale(1.14);
}
.profile i{
    padding: 8px;
    transition: transform 0.3s ease-in-out;
}
.profile i:hover {
    transform: scale(1.34);
    cursor: pointer;
}
.profile select {
    border: none;
    padding: 6px;
    border-radius: 4px;
    background-color: #ffffff36;
    color: #18578d;
}
.profile select:focus {
    outline: none;
}

.search {
    margin-top: 30px;
    padding: 12px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(246, 237, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input[type="search"] {
    width: 140%;
    font-weight: bold;
    border: none;
}

.search input[type="search"]:focus {
    outline: none;
} 
.icon img:hover {
    cursor: pointer;
}




.gaurentee {
    margin: 30px 60px;
    width: 400px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #18578d;
    border-radius: 6px;
}
.gaurentee h1 {
    font-size: 42px;
    padding: 10px 46px;
    text-align: center;
    font-weight: 500;
}
.gaurentee .features {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.gaurentee .find {
    background-color: #ffd900;
    padding: 12px 4px;
    width: 70%;
    margin-top: 24px;
    border-radius: 10px;
    border: none;
    color: #18578d;
    transition: transform 0.4s ease-in-out 0.01s;
}
.gaurentee .find:hover {
    transform: scale(1.04);
    cursor: pointer;
}




.budget {
    border: 2px solid whitesmoke;
    width: 70%;
    height: 440px;
    margin: auto;
    background-color: white;
    color: #18578d;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 12px;
}
.budget h3 {
    text-align: center;
    margin: 8px;
    padding: 24px;
}
.budget p {
    margin: 8px 24px;
}
.budget span {
    color: gray;
}
.car-images {
    margin: 8px 20px;
}
.budget .cars img {
    width: 90px;
    padding: 0 6px;
    transition: transform 0.4s ease-in-out 0.01s;
}
.budget .cars img:hover {
    transform: scale(1.14);
    cursor: pointer;
}


.payment {
    display: flex;
    margin: 0px 24px;
    gap: 10px;
    font-size: small;
}
.monthly-payment, .down-payment {
    width: 50%;
    background-color: #a0a0a07a;
    border-top: 1px solid whitesmoke;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    text-align: start;
}
.credit {
    background-color: #a0a0a07a;
    margin: 8px 24px;
    width: 89%;
    border-top: 1px solid whitesmoke;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.credit select {
    margin-left: 4px;
    padding: 4px ;
    background-color: #a0a0a000;
    border: none;
    outline: none;
    color: #18578d;
}

.budget .select {
    background-color: #ffd900;
    padding: 12px 4px;
    width: 44%;
    margin-top: 12px;
    border-radius: 10px;
    border: none;
    color: #18578d;
    transition: transform 0.4s ease-in-out 0.02s;
}
.budget .select:hover {
    transform: scale(1.04);
    cursor: pointer;
}



.extra-services {
    width: 100%;
    /* height: 544px; */
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: -50px;
    z-index: -1;
    border: 2px solid whitesmoke;
    border-radius: 12px;
}
#box-1 {
    background-image: url("images/bground4.jpeg");
    background-position: right top;
    background-repeat: no-repeat;
}
#box-2 {
    background-color: #18578d;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    color: white;
}
#box-2 h1 {
    margin: 50px 16px 0 16px;
    font-weight: 600;
    font-size: 36px;
}
#box-2 .icon {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#box-2 .icon p {
    font-size: 14px;
}
#box-2 .icon i {
    font-size: 24px;
}
.extra-services .shop {
    background-color: white;
    padding: 12px 4px;
    width: 54%;
    margin: 12px 0 0 20px;
    border-radius: 10px;
    border: none;
    color: #18578d;
    transition: transform 0.4s ease-in-out 0.02s;
    text-transform: uppercase;
    font-weight: bold;
}
.extra-services .shop:hover {
    transform: scale(1.04);
    cursor: pointer;
}